 <config>
    <modules>
        <FW_Queue>
            <version>1.0.1</version>
        </FW_Queue>
    </modules>
     <global>
	    <models>
	        <fw_queue>
	            <class>FW_Queue_Model</class>
	            <resourceModel>fw_queue_resource</resourceModel>
	        </fw_queue>
	        <fw_queue_resource>
            	<class>FW_Queue_Model_Resource</class>
            	<entities>
	                <queue>
	                    <table>fw_queue</table>
	                </queue>
            	</entities>
        	</fw_queue_resource>
	    </models>
	    <resources>
		    <fw_queue_setup>
		        <setup>
		            <module>FW_Queue</module>
		            <class>FW_Queue_Model_Resource_Mysql4_Setup</class>
		        </setup>
                         <connection>
                            <use>core_setup</use>
                        </connection>
                    </fw_queue_setup>
            <fw_queue_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fw_queue_write>
            <fw_queue_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fw_queue_read>
        </resources>
	    <helpers>
            <fw_queue>
                <class>FW_Queue_Helper</class>
            </fw_queue>
        </helpers>
        <blocks>
            <fw_queue>
                <class>FW_Queue_Block</class>
            </fw_queue>
        </blocks>
	</global>
	<admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <fw_queue after="Mage_Adminhtml">FW_Queue_Adminhtml</fw_queue>
                    </modules>
               </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <fw_queue>
                    <file>fw/queue.xml</file>
                </fw_queue>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
        <jobs>
            <fw_run_queue>
                <schedule><cron_expr>2-59/5 * * * *</cron_expr></schedule>
                <run><model>fw_queue/run::autoPostOpenQueueItems</model></run>
                <groups>fw_queuepublish</groups>
            </fw_run_queue>
        </jobs>
    </crontab>
</config>
